body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #f4f4f4;
    padding: 20px 0;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.big-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-logo {
    height: 100px;
    margin-right: 10px;
}

h1 {
    margin: 0;
}

.nw {
    color: darkgray;
}

.royal-rangers {
    color: crimson;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: crimson;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border: 5px solid #000;
    padding: 10px;
}

.carousel-image {
    width: 100%;
    height: auto;
    display: none;
}

.carousel-image:first-child {
    display: block;
}

.content {
    margin-top: 80px;
    margin: 20px 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px auto;
    max-width: 800px;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.no-bullets li {
    margin-bottom: 10px; /* Adjust spacing as needed */
}

.text-box {
    border: 2px solid #000; 
    padding: 15px;          
    max-width: 600px;        
    word-wrap: break-word;   
    margin: 20px auto;       
    background-color: #f9f9f9; 
}

button {
    background-color: transparent; 
    border: none;                  
    color: black;                   
    font-size: 18px;                
    padding: 5px 10px;              
    cursor: pointer;                
    text-align: center;             
    border-radius: 5px;             
    transition: background-color 0.3s, color 0.3s; 
}

button:hover {
    background-color: crimson;      
    color: white;                   
}